.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 80px;
      height: 1px;
      bottom: -8px;
      border-bottom: 5px solid #57a99a;
    }
  }

  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 575px) {
  .collection-page .items {
    display: block;

    & .collection-item {
      margin-bottom: 20px;
    }
  }
}
