.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #57a99a;
  background-color: #fff;
  top: 70px;
  right: 30px;
  z-index: 5;

  .cart-items {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .empty-message {
      font-size: 16px;
      font-weight: 700;
      margin: 20px auto;
    }
  }

  button {
    margin-top: auto;
  }
}

@media screen and (max-width: 575px) {
  .cart-dropdown {
    top: 60px;
    right: 15px;
  }
}
