.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    color: #fff;
  }
}

@media screen and (max-width: 575px) {
  .cart-icon {
    width: 36px;
    height: 30px;
    .shopping-icon {
      width: 20px;
      height: 20px;
    }
    .item-count {
      font-size: 8px;
      bottom: 5px;
    }
  }
}
