.checkout-page {
  width: 55%;
  background-color: #fff;
  min-height: 50vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px auto 0;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      &:first-child {
        width: 55%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:last-child {
        width: 10%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 24px;
  }
}

.checkout-page-empty {
  justify-content: center;
}

@media screen and (max-width: 575px) {
  .checkout-page {
    font-size: 14px;
    width: 92%;
    padding: 10px;

    .total {
      font-size: 20px;
    }
  }
}
