.checkout-item {
  width: 100%;
  display: flex;
  text-align: center;
  height: 150px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 16px;
  align-items: center;

  .image-container {
    width: 20%;
    max-height: 150px;
    padding-right: 15px;

    img {
      max-height: 130px;
    }
  }
  .name {
    width: 35%;
    padding-right: 15px;
    text-align: left;
  }
  .quantity {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }
  .price {
    width: 15%;
  }

  .remove-button {
    width: 10%;
    font-weight: 700;
    cursor: pointer;
  }
}

@media screen and (max-width: 575px) {
  .checkout-item {
    font-size: 12px;
    .quantity .arrow {
      font-size: 16px;
    }
  }
}
